*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
main{
    width: 1050px;
    margin:  10rem;
    background-color: beige;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0.5rem;
}
.head-top{
    width: 63.1rem;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.like{
    width: 18px;
    height: 18px;
}
.on{
    background-color: red;
}
.like img {
    width: 100%;
}
.body{
    margin-top: 0.5rem;
}
.image-text-supprime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-text{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem 0 0.5rem ;
}
.image{
    width: 100px;
    height: 100px;
}
.image img{
    width: 100%;
}
.nom{
    font-weight: bold;
    font-size: 18px;
}
.Prix-Unitaire input{
    width: 50px;
}
.Quantité{
    display: flex;
}
.Quantité input{
    width: 45px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.moins{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
}
.moins:hover{
    background-color: red;
}
.plus{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
}
.plus:hover{
    background-color: red;
}
span{
    font-weight: bold;
}
.buttom{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5rem;
}
.btn-pu {
    width: 50px;
}
.addart{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 0.25rem;
}
.supprime{
    width: 18px;
    height: 18px;;
}
.supprime img{
    width: 100%;
}
.Total{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Total p{
    font-weight: bold;
    font-size: 20px;
}